<!doctype html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <link rel="shortcut icon" href="http://www.ursulinenewrochelle.org/uploaded/PHOTOS/Alumnae/Ac_Fui_280[1].web.jpg"/>
  <body>
    <div class="container-full">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1 style="color: #7C7C7C"> Home </h1>
          <a class="navbar-brand" href="/">Home</a>
          <a class="navbar-brand" href="/introduction">Introduction</a>
          <a class="navbar-brand" href="/wuthering_heights">Wuthering Heights</a>
          <a class="navbar-brand" href="/pride_and_prejudice">Pride and Prejudice</a>
          <a class="navbar-brand" href="/conclusion">Conclusion</a>
        </div>
      </div>
    </nav>

        <h1 style="text-align: center"> Welcome! </h1>
        <p align="justify" style="padding-left: 100px; padding-right: 100px; font-size: 25px; text-indent: 3em;"> Hello and welcome to my final assessment for Mrs. Gramaglia's English 12H class. Click on the Wuthering Heights tab or Pride and Prejudice tab to view information about the theme that connects the two novels. </p>

        <img style="margin-left: 470px" src="http://www.ursulinenewrochelle.org/uploaded/PHOTOS/Alumnae/Ac_Fui_280[1].web.jpg">

        <br>
        <br>

        <footer style="text-align: center">
        <p>Caroline Clancy</p>
        </footer>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
