<!doctype html>
<html>
  <head>
    <title>Pride and Prejudice</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <link rel="shortcut icon" href="http://www.ursulinenewrochelle.org/uploaded/PHOTOS/Alumnae/Ac_Fui_280[1].web.jpg"/>
  <body>
  <div class="container-full">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1 style="color: #7C7C7C"> Introduction </h1>
          <a class="navbar-brand" href="/">Home</a>
          <a class="navbar-brand" href="/introduction">Introduction</a>
          <a class="navbar-brand" href="/wuthering_heights">Wuthering Heights</a>
          <a class="navbar-brand" href="/pride_and_prejudice">Pride and Prejudice</a>
          <a class="navbar-brand" href="/conclusion">Conclusion</a>
        </div>
      </div>
    </nav>

    <h1 align="center"> A Common Theme: Social Classes </h1>
    <p align="justify" style="padding-left: 200px; padding-right: 250px; font-size: 25px; text-indent: 3em;"> Throughout the late 1700s and early 1800s, social class played a hefty role in romantic relationships. During this era, it was uncommon for an individual to marry someone outside of their own societal rank. Often times this attitude toward marriage and the pressure for many to remain in their social class often created barriers that divided the lower, middle, and upper classes. In the novels <u>Pride and Prejudice</u> by Jane Austen and <u>Wuthering Heights</u> by Charlotte Bronte, the emphasis placed on social class throughout 18th and 19th century England is a common theme.  </p>

    <br>
    <br>

    <footer style="text-align: center">
      <p>Caroline Clancy</p>
    </footer>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
