<!doctype html>
<html>
  <head>
    <title>Wuthering Heights</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <link rel="shortcut icon" href="http://www.ursulinenewrochelle.org/uploaded/PHOTOS/Alumnae/Ac_Fui_280[1].web.jpg"/>
  <body>
  <div class="container-full">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1 style="color: #7C7C7C"> Wuthering Heights </h1>
          <a class="navbar-brand" href="/">Home</a>
          <a class="navbar-brand" href="/introduction">Introduction</a>
          <a class="navbar-brand" href="/wuthering_heights">Wuthering Heights</a>
          <a class="navbar-brand" href="/pride_and_prejudice">Pride and Prejudice</a>
          <a class="navbar-brand" href="/Conclusion">Conclusion</a>
        </div>
      </div>
    </nav>

    <img src="http://livethroughbooks.files.wordpress.com/2010/04/wuthering-heights.jpg" style="text-align: center; margin-left: 500px">
    <h1 align="center"> A Common Theme: Social Class </h1>
    <p align="justify" style="padding-left: 200px; padding-right: 250px; font-size: 25px; text-indent: 3em;"> In <u>Wuthering Heights</u>, main character Catherine is caught between the rather poor Heathcliff and the wealthy Edgar Linton. Heathcliff, an orphan, has no family members to inherit land from. He also in uneducated, making it more difficult for him to build a fortune. Edgar, on the other hand, comes from a wealthy family and will inherit the Thrushcross Grange estate. Despite her true, deep love for Heathcliff, Catherine allows societal stigma to sway her to marry Edgar. Heathcliff attempts to climb his way up the social pyramid, spending three years in London earning money and later swindling Hindley out of his estate. Despite the fortune he gained, he still did not win Catherine's hand in marriage. </p>

    <br>
    <br>

    <footer style="text-align: center">
      <p>Caroline Clancy</p>
    </footer>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
