<!doctype html>
<html>
  <head>
    <title>Wuthering Heights</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <link rel="shortcut icon" href="http://www.ursulinenewrochelle.org/uploaded/PHOTOS/Alumnae/Ac_Fui_280[1].web.jpg"/>
  <body>
  <div class="container-full">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1> Wuthering Heights </h1>
          <a class="navbar-brand" href="/">Home</a>
          <a class="navbar-brand" href="/pride_and_prejudice">Pride and Prejudice</a>
          <a class="navbar-brand" href="/sources">Sources</a>
        </div>
      </div>
    </nav>

    <img src="http://livethroughbooks.files.wordpress.com/2010/04/wuthering-heights.jpg" style="text-align: center; margin-left: 500px">
    <h1> Themes </h1>
    <p> </p>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
